<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Page-3</key>
	<dict>
		<key>Stage-0</key>
		<dict>
			<key>StageImage</key>
			<string>3.jpg</string>
			<key>ParallaxCoefficient</key>
			<integer>10</integer>
			<key>Rotationals</key>
			<dict>
				<key>Rotational-0</key>
				<dict>
					<key>RotationalImage</key>
					<string>wheel.jpg</string>
					<key>RotationalXCoordinate</key>
					<integer>40</integer>
					<key>RotationalYCoordinate</key>
					<integer>60</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Page-2</key>
	<dict>
		<key>Stage-0</key>
		<dict>
			<key>StageImage</key>
			<string>2.jpg</string>
			<key>ParallaxCoefficient</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>Page-1</key>
	<dict>
		<key>Stage-0</key>
		<dict>
			<key>StageImage</key>
			<string>1.jpg</string>
			<key>ParallaxCoefficient</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>Page-0</key>
	<dict>
		<key>Stage-0</key>
		<dict>
			<key>StageImage</key>
			<string>0.jpg</string>
			<key>ParallaxCoefficient</key>
			<integer>20</integer>
			<key>Rotationals</key>
			<dict>
				<key>Rotational-0</key>
				<dict>
					<key>RotationalImage</key>
					<string>wheel.jpg</string>
					<key>RotationalXCoordinate</key>
					<integer>40</integer>
					<key>RotationalYCoordinate</key>
					<integer>60</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
