<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Page-4</key>
	<dict>
		<key>Stage-0</key>
		<dict>
			<key>StageImage</key>
			<string>3.jpg</string>
			<key>ParallaxCoefficient</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Page-3</key>
	<dict>
		<key>Stage-0</key>
		<dict>
			<key>StageImage</key>
			<string>2.jpg</string>
			<key>ParallaxCoefficient</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>Page-2</key>
	<dict>
		<key>Stage-0</key>
		<dict>
			<key>StageImage</key>
			<string>1.jpg</string>
			<key>ParallaxCoefficient</key>
			<integer>30</integer>
			<key>Rotationals</key>
			<dict>
				<key>Rotational-0</key>
				<dict>
					<key>RotationalImage</key>
					<string>appleDemo.png</string>
					<key>RotationalXCoordinate</key>
					<integer>400</integer>
					<key>RotationalYCoordinate</key>
					<integer>150</integer>
				</dict>
			</dict>
			<key>Clouds</key>
			<dict>
				<key>Cloud-0</key>
				<dict>
					<key>CloudImage</key>
					<string>cloudDemo2.png</string>
					<key>CloudCeilCoordinate</key>
					<string>0</string>
					<key>CloudFloorCoordinate</key>
					<string>100</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Page-1</key>
	<dict>
		<key>Stage-0</key>
		<dict>
			<key>StageImage</key>
			<string>0.jpg</string>
			<key>ParallaxCoefficient</key>
			<integer>20</integer>
			<key>Rotationals</key>
			<dict>
				<key>Rotational-0</key>
				<dict>
					<key>RotationalImage</key>
					<string>appleDemo.png</string>
					<key>RotationalXCoordinate</key>
					<integer>770</integer>
					<key>RotationalYCoordinate</key>
					<integer>250</integer>
				</dict>
			</dict>
			<key>Rotatables</key>
			<dict>
				<key>Rotatable-0</key>
				<dict>
					<key>RotatableImage</key>
					<string>windmillWheelDemo.png</string>
					<key>RotatableXCoordinate</key>
					<integer>20</integer>
					<key>RotatableYCoordinate</key>
					<integer>200</integer>
				</dict>
			</dict>
			<key>Clouds</key>
			<dict>
				<key>Cloud-0</key>
				<dict>
					<key>CloudImage</key>
					<string>cloudDemo2.png</string>
					<key>CloudCeilCoordinate</key>
					<string>0</string>
					<key>CloudFloorCoordinate</key>
					<string>200</string>
				</dict>
			</dict>
			<key>Leafs</key>
			<dict>
				<key>Leaf-0</key>
				<dict>
					<key>LeafImage</key>
					<string>leaf1.png</string>
					<key>LeafFloorCoordinate</key>
					<string>400</string>
					<key>LeafXCoordinate</key>
					<string>300</string>
				</dict>
				<key>Leaf-1</key>
				<dict>
					<key>LeafImage</key>
					<string>leaf2.png</string>
					<key>LeafFloorCoordinate</key>
					<string>400</string>
					<key>LeafXCoordinate</key>
					<string>400</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Page-0</key>
	<dict>
		<key>Stage-0</key>
		<dict>
			<key>StageImage</key>
			<string>0.jpg</string>
			<key>ParallaxCoefficient</key>
			<string>0</string>
			<key>Clouds</key>
			<dict>
				<key>Cloud-0</key>
				<dict>
					<key>CloudImage</key>
					<string>cloudDemo2.png</string>
					<key>CloudCeilCoordinate</key>
					<string>0</string>
					<key>CloudFloorCoordinate</key>
					<string>100</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
